src/main/resources/xsd/package-list.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="crx" type="crxType"/>
    <xs:complexType name="paramType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name"/>
                <xs:attribute type="xs:string" name="value"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="requestType">
        <xs:sequence>
            <xs:element type="paramType" name="param"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="packageType">
        <xs:sequence>
            <xs:element type="xs:string" name="group"/>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="version"/>
            <xs:element type="xs:string" name="downloadName"/>
            <xs:element type="xs:long" name="size"/>
            <xs:element type="xs:string" name="created"/>
            <xs:element type="xs:string" name="createdBy"/>
            <xs:element type="xs:string" name="lastModified"/>
            <xs:element type="xs:string" name="lastModifiedBy"/>
            <xs:element type="xs:string" name="lastUnpacked"/>
            <xs:element type="xs:string" name="lastUnpackedBy"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="packagesType">
        <xs:sequence>
            <xs:element type="packageType" name="package" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="dataType">
        <xs:sequence>
            <xs:element type="packagesType" name="packages"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="statusType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:int" name="code"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="responseType">
        <xs:sequence>
            <xs:element type="dataType" name="data"/>
            <xs:element type="statusType" name="status"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="crxType">
        <xs:sequence>
            <xs:element type="requestType" name="request"/>
            <xs:element type="responseType" name="response"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="version"/>
        <xs:attribute type="xs:string" name="user"/>
        <xs:attribute type="xs:string" name="workspace"/>
    </xs:complexType>
</xs:schema>